.row {
    margin-top: 20px;
}

.input-body {
    margin-bottom: 20px;
}

.grey-body {
    background-color: #f8f8f8;
    border: 1px solid #ced4da;
    border-right: 0px;
    border-radius: .25rem;
}

.input-body {
    background-color: #f8f8f8;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}